[Unit]
Description=dynamic marquee for Recalbox
After=network.target

[Service]
WorkingDirectory=/opt/dynquee
ExecStart=/usr/bin/python3 -m dynquee
Type=exec
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
